In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('xAPI-Edu-Data.csv')
df.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M

##### contingency table

In [13]:
pd.crosstab(index=df['Topic'],columns=df['StageID'],margins=True)

StageID    HighSchool  MiddleSchool  lowerlevel  All
Topic
Arabic              0            28          31   59
Biology             0            30           0   30
Chemistry           0            24           0   24
English            11            28           6   45
French              1             0          64   65
Geology             0            24           0   24
History             0            12           7   19
IT                 10            23          62   95
Math                2            17           2   21
Quran               4            18           0   22
Science             4            20          27   51
Spanish             1            24           0   25
All                33           248         199  480